[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-spectacular = "*"
pandas = "*"
openpyxl = "*"
xlrd = "*"
django-cors-headers = "*"

[requires]
python_version = "3.13"

[dev-packages]
flake8 = "*"
